{% extends "html/base.html" %}

{% block content %}
<h1 style="text-align: center;">Таблица переменных сервисов расчетов</h1>
<form action="/resulting" method="POST">
    <link rel="stylesheet" href="./static/css/form.css">
    <div style="text-align: center;">
        <table border="1" style="display: inline-block">
            <tr style="text-align: center;">
                <th>Наименование переменной</th>
                <th>Условное обозначение переменной</th>
                <th>Описание переменной</th>
                <th>Значение переменной</th>
            </tr>
            <tr style="text-align: center;">
                <td>Количество станций</td>
                <td>S</td>
                <td>Количество станций на участке</td>
                <td>{{ S }}</td>
            </tr>
            <tr style="text-align: center;">
                <td>Количество УПС</td>
                <td>U</td>
                <td>Количество УПС на участке</td>
                <td>{{ U }}</td>
            </tr>
            <tr style="text-align: center;">
                <td>Наличие Wi-Fi</td>
                <td>W</td>
                <td>Наличи Wi-Fi точки в составе УПС</td>
                {% if W == 0 %}
                    <td>Нет</td>
                {% else %}
                    <td>Да</td>
                {% endif %}
            </tr>
            <tr style="text-align: center;">
                <td>Опция МАВР</td>
                <td>A</td>
                <td>Нужен ли комплект МАВР</td>
                {% if A == 0 %}
                    <td>Нет</td>
                {% else %}
                    <td>Да</td>
                {% endif %}
            </tr>
            <tr style="text-align: center;">
                <td>Количество перегонов</td>
                <td>P</td>
                <td>Количество перегонов на участке</td>
                <td>{{ S-1 }}</td>
            </tr>
        </table><br/>
        {% for i in range(P) %}
            Количество УПС на перегоне {{ i+1 }} :<br/>
            <input class="input_ups" required type = "number" min="0" name = "Количество УПС на перегоне"/><br/>
        {% endfor %}<br/>
        <button type="button" onclick="history.back()">Назад</button>
        <button type="submit">Далее</button>
    </div>
</form>
<form action="/result" method="POST">
    {% if message %}
        <link rel="stylesheet" href="./static/css/form.css">
        <div class="b-popup">
            <div class="b-popup-content">
                <p style="text-align: center;">{{ message }}</p>
                <p style="text-align: center;">
                    <button type="button" onclick="history.back()">Назад</button>
                    <button name = "Кнопка ок" value = "Далее">Ок</button>
                </p>
            </div>
        </div>
    {% endif %}
</form>
{% endblock %}