{% extends "html/base.html" %}

{% block content %}
<h2 style="text-align: center;">Расчет необходимых IP-адресов для участка.</h2>
<form>
    <div style="line-height:1.2;">
        <p align="justify">
Расчет необходимых IP – адресов можно представить формулой: <b>C = Nупс * (14 + Сwi-fi(опц)) + Nшом * 2 + (Nшом - 1) * 2 + ((N1 – 1) * 2 + (N2 – 1) * 2 + … + (Ni – 1) * 2) + Nмавр * 16 + Сотл</b>, где<br/>
<b>Nупс</b> - количество УПС(устройство перегонной связи) на участке.<br/> Так как УПС содержит в себе два коммутатора,то на подключение одного УПС расходуется 6 IP-адресов (3 подсети нотации /31) — 2
адреса на соединение со станционным коммутатором ШОМ(шлюз оптический модульный) с одной стороны, 2 адреса на соединение со станционным коммутатором ШОМ c другой стороны и 2 адреса на соединение
коммутаторов внутри УПС. Так как каждый УПС имеет 3-4 Ethernet порта подключения, то необходимо не менее 4 адресов для подключения оконечных устройств, что соответствует подсети нотации /29 (8 –
IP-адресов).При наличии Wi-Fi-точки доступа в составе УПС необходимо дополнительно выделить пул адресов для Wi-Fi клиентов. Целесообразно выделить сеть нотации не менее /29 (8 – IP-адресов).
Итого для подключения одного УПС необходимо 14(22 с Wi-Fi) IP-адресов – 3 подсети нотации /31 и 1 (2) подсеть нотации /29;<br/>
<b>Сwi-fi(опц)</b> - количество IP-адресов для сети Wi-Fi (рекомендуется 8шт).<br/>Опционально при наличии Wi-Fi точки доступа в составе УПС;<br/>
<b>Nшом</b> - количество ШОМ на участке;<br/>
<b>Nшом * 2</b> – количество IP-адресов для подключения каждого ШОМ к СПД ОТН(сеть передачи данных оперативно-технологического назначения) РЖД.<br/>Для подключения используется 1 подсеть нотации /31
(2 IP-адреса);<br/>
<b>(Nшом - 1) * 2</b> – количество IP-адресов для каналов мониторинга.<br/>Так как между ШОМ двух соседних станций требуется выделить 1 подсеть /31 (2 IP-адресов)
для канала мониторинга;<br/>
<b>((N1 – 1) * 2 +(N2 – 1) * 2+ …+(Ni – 1) * 2)</b> – количество IP-адресов для межкоммутаторных связей внутри конкретного ШОМ.<br/>Так как для соединения между собой коммутаторов в составе ШОМ
достаточно использовать n-1 подсетей нотации /31, где i – количество коммутаторов в составе конкретного ШОМ;<br/>
<b>Nмавр</b> – количество используемых (предполагаемых к использованию) комплексов подключения к МАВР(место аварийно-восстановительных работ).<br/>Для использования комплекса подключения к МАВР
производства АО «Сфера Телеком» необходимо зарезервировать подсети нотации /28 по количеству предполагаемых к использованию комплексов МАВР (обычно не более двух);<br/>
<b>Сотл</b> – количество отладочных IP-адресов.<br/>Необходимо предусмотреть выделение адресов для отладочных технологических подключений к коммутаторам. Предлагается выделять 1 подсеть нотации /28
(16 адресов), которая при необходимости легко делится на 4 подсети нотации /30 и обеспечивает до 4 точек подключения для отладки;<br/>
        </p>
    </div>
</form>
<h4 style="text-align: center;">Таблица для расчета IP-адресов</h4>
<form style="text-align: center;" action="/calculating" method="POST">
    <link rel="stylesheet" href="./static/css/form.css">
    <div style="text-align: center;">
        <table border="1" style="display: inline-block">
            <tr style="text-align: center;">
                <th>Наименование переменной</th>
                <th>Условное обозначение переменной</th>
                <th>Описание переменной</th>
                <th>Значение переменной</th>
            </tr>
            <tr style="text-align: center;">
                <td>Количество станций</td>
                <td>S</td>
                <td>Количество станций на участке</td>
                <td><input class="perm_input"  name="Количество станций" min="0" type="number" value="{{ S }}" required/></td>
            </tr>
            <tr style="text-align: center;">
                <td>Количество УПС</td>
                <td>U</td>
                <td>Количество УПС на участке</td>
                <td><input class="perm_input" name="Количество УПС" min="0" type="number" value="{{ U }}" required/></td>
            </tr>
            <tr style="text-align: center;">
                <td>Наличие Wi-Fi</td>
                <td>W</td>
                <td>Наличи Wi-Fi точки в составе УПС</td>
                {% if W == 8 %}
                <td>
                    <input type="radio" id="Да" name="Наличие Wi-Fi" value="8" checked required/><label for="Да">Да</label><br/>
                    <input type="radio" id="Нет" name="Наличие Wi-Fi" value="0" required/><label for="Нет">Нет</label><br/>
                </td>
                {% else %}
                <td>
                    <input type="radio" id="Да" name="Наличие Wi-Fi" value="8" required/><label for="Да">Да</label><br/>
                    <input type="radio" id="Нет" name="Наличие Wi-Fi" value="0" checked required/><label for="Нет">Нет</label><br/>
                </td>
                {% endif %}
            </tr>
            <tr style="text-align: center;">
                <td>Опция МАВР</td>
                <td>A</td>
                <td>Предусмотреть ли IP-адреса для комплекта МАВР</td>
                {% if A == 2 %}
                <td>
                    <input type="radio" id="Да" name="Опция МАВР" value="2" checked required/><label for="Да">Да</label><br/>
                    <input type="radio" id="Нет" name="Опция МАВР" value="0" required/><label for="Нет">Нет</label><br/>
                </td>
                {% else %}
                <td>
                    <input type="radio" id="Да" name="Опция МАВР" value="2" required/><label for="Да">Да</label><br/>
                    <input type="radio" id="Нет" name="Опция МАВР" value="0" checked required/><label for="Нет">Нет</label><br/>
                </td>
                {% endif %}
            </tr>
        </table><br/><br/>
        <button type="button" onclick="window.location.href = '/';">Назад</button>
        <button type="submit">Далее</button>
    </div>
</form>
{% endblock %}
